:root {
    --primery-text-color: #757575;
    --second-color: #212121;
    --accent-color: #2196f3;
    --white-color-text: #ffffff;
    --background-color: #2f303a;
    --background-button: #188ce8;
    --footer-color-uniq: rgba(255, 255, 255, 0.6);
    --background-color-uniq: #f5f4fa;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--white-color-text);
    color: var(--second-color);
    font-size: 14px;
    width: 1600px;
}

.list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

    /* навигация */
.link {
    text-decoration: none;
}
    /* лого */
.header{
    border-bottom: #ececec 1px solid;
}
.logo-head {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 1.19;

}
.logo-head-half {
    color: var(--second-color)
}

.list-site-nav .nav:focus,
.list-site-nav .nav:hover {
    color: var(--accent-color);
    font-weight: 500;
}
.list-site-nav .nav{
    color: var(--second-color);
    font-weight: 500;
}
.list-site-nav .current {
    color: var(--accent-color);
    font-weight: 500;
}
.contacts-list .contacts:hover,
.contacts-list .contacts:focus {
    color: var(--accent-color);
    font-weight: 500;
}
.contacts-list .contacts {
    color: var(--primery-text-color);
    font-weight: 500;
}

.section-main {
    background-color: var(--background-color);
    text-align: center;
    width: inherit;
    min-height: 600px;
}
.title-hero {
    color: var(--white-color-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    padding-top: 200px;
    padding-left: 452px;
    padding-right: 452px;
    margin-bottom: 30px;
    margin-top: 0;
    
}
.button-primary:hover,
.button-primary:focus {
    background-color: var(--background-button);
}
.button-primary {
    background-color: var(--accent-color);
    color: var(--white-color-text);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
}
.features {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primery-text-color);
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.title-spec {
    color: var(--second-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.team {
    background-color: var(--background-color-uniq);
    width: inherit;
}
.section-title {
    color: var(--second-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;
}
.team-list {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    list-style: none;
    background-color: var(--background-color-uniq);
    color: var(--primery-text-color);
    margin: 0;
}
.name {
    color: var(--second-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.position{
    margin: 0;
}
.foot {
    background: var(--background-color);
    min-height: 252px;
    width: inherit;
}
.logo-foot {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 1.19;
    display: inline-block;
    padding-top: 60px;
    padding-bottom: 20px;    
}
.logo-foot-half {
    color: var(--white-color-text);
}
.location {
    color: var(--white-color-text);
    margin: 0;
}
.location, 
.foot-li {
    display: inline-block;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

}
.foot-li {
    color: var(--footer-color-uniq);
}
.address-foot .foot-li:hover, 
.address-foot .foot-li:focus {
    color: var(--accent-color)
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.buttons-site-nav .buttons:hover,
.buttons-site-nav .buttons:focus {
    color: var(--white-color-text);
    background-color: var(--accent-color)
}

.buttons-site-nav .buttons {
    font-family: 'Roboto', sans-serif;
    color: var(--second-color);
    background-color: var(--background-color-uniq);
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    cursor: pointer;
    letter-spacing: 0.03em;
}
.buttons-site-nav .current {
    color: var(--white-color-text);
    background-color: var(--accent-color);
}

.projects-title {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    color: var(--second-color);
}
.projects-link {
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
    color: var(--primery-text-color);
}